<div class="user-card">
<%= image_tag(@user.photo, :size => "260x180") %>
<div class="user-info">
<%= @user.name %>
<span class="counter-card">Numeber of posts: <%= @user.posts_counter %></span>
</div>
<br>
</div>