.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-info {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.post-comments {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  margin-bottom: 20px;
  width: 400px;
}

.post-show-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-inf-box {
  display: flex;
  justify-content: space-between;
}