.user-card {
  display: flex;
  gap: 1rem;
  margin: 2rem;
}

.user-info {
  border: 0.2rem solid black;
  width: 80%;
  display: flex;
  gap: 5rem;
  padding: 2rem;
  align-items: center;
}

.bio-card {
  border: 0.2rem solid black;
  padding: 2rem;
  margin: 1rem;
}

button {
  margin-left: 45%;
  padding: 1rem;
  height: 3rem;
}

p {
  font-size: 1rem;
}

span {
  font-size: 1.2rem;
}

.post-card {
  border: 0.2rem solid black;
  padding: 2rem;
  margin: 1rem;
}

.counter-card {
  float: right;
}

.comment-card {
  border: 0.2rem solid black;
  padding: 2rem;
  margin: 1rem;
  margin-bottom: 3rem;
}

a {
  text-decoration: none;
  color: black;
}

.like-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.like {
  color: red;
}

input {
  height: 3rem;
}

.form-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.descriptive-title {
  margin-left: 5rem;
}

.page-title {
  text-align: center;
}

li {
  list-style-type: none;
}

.nav-bar {
  display: flex;
  gap: 3rem;
  background-color: rgb(199, 199, 199);
  padding: 1rem;
}
